html {
  scroll-behavior: smooth;
}
.bg-pink {
  background-color: #feeae9;
  border-radius: 10px;
}
.price {
  color: #ff2d7e;
}
.buy-btn {
  background: linear-gradient(#ff1a74, #ff569a);
  border: none;
  outline: none;
  padding: 5px 8px;
  border-radius: 5px;
  color: white;
}
.cat1,
.cat2,
.cat3 {
  border-radius: 15px;
  padding: 15px;
  color: white;
}
.cat1 img,
.cat2 img,
.cat3 img {
  width: 100px;
}
.cat1 {
  background: linear-gradient(to top right, #ff9d35, #ffd019);
}
.cat2 {
  background: linear-gradient(to top right, #ff1a73, #ff5096);
}
.cat3 {
  background: linear-gradient(to top right, #413bfb, #4288ff);
}
.see-all {
  color: #ff9d35;
  text-decoration: none;
  font-weight: 600;
}
.black-btn {
  border: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.shoes,
.backpack {
  background-color: #f8f8f8;
}
input[type="email"] {
  border: none;
  padding: 0 10px;
  outline: none;
}
